.vscode/**
.vscode-test/**
src/**
.gitignore
.git/**
.gitattributes

tsconfig.json
**/*.ts
!out/**/*.ts
**/*.map

node_modules/**

install-local.sh

.DS_Store

test/**
*.test.*

*.draft.*

.editorconfig
